body{
    //font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Microsoft Yahei", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container-background{
  background-image: url(../img/background.png); 
  background-color: rgb(250, 255, 255); 
  background-size: 100% 100%; 
  background-position: 50% 0%; 
  background-repeat: repeat;
}

.navbar-inverse{
    background-color:transparent;
    border-color:transparent;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color:#FFFFFF;
  background-color:#CC0033;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{

  color:#FFFFFF;
  background-color:#CC0033;
}
.navbar-inverse .navbar-nav > li > a{
  color:#FF0000;
  text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
  -moz-text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
  -webkit-text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
}
.navbar-nav li a{
  font-size:18px;
}

.container{
  //background-image: url(../img/background/notes_background_9.png); 
  background-size: auto; 
  background-position: 50% 0%; 
}
//home page
.logo-bg{
  margin-top:-20px;
}

.jumbotron p{
  font-size:16px
}

.alert{
  font-size:16px;

}

#home-info img{
  margin-right:5px;
  margin-top:10px;
}

#home-info p{
  font-size:16px;
}

#home-info .col-md-12{
  //border: 1px dotted #ccc; 
  //box-shadow: inset 0px 0px 4px 0px #a1a1a1
}

.col-md-12 .row>img{
  margin-right:5px;
  margin-top:10px;
}


.note{
  position:fixed;
  padding: 10px 20px;
  text-decoration:none;
  background-image:url(../img/logo/01.png); 
  //background:#ffc;
  background:transparent;
  display:block;
  //margin-top:80px;
  //width: 150px;        
  //box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
  font-size: 14px;
}

.note img{
  width:40px;
  height:40px;

}

.note #contact{
  padding-top:10px;
}

.bubble 
{
  position: relative;
  width: 155px;
  height: 120px;
  padding: 5px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #000000 solid 3px;
}

.bubble:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 15px 17px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 48px;
}

.bubble:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px 17px 19px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  left: -20px;
  top: 46px;
}

// member
.description
{
  //color: white;
  min-height:100%;
  margin-bottom:0px;
  padding-bottom:0px;
}
.infotable
{
  background-color:#eee
}

.box{
  display: block;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  padding-left: 20px;
  padding-bottom 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box .row{
  padding: 11px 0 11px 0;
  margin:  0 0px 0 0px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.box .row h4{
  color:#08c;
}
.box .row p{
  font-size:16px;
}


//course
#course a{
  color: #428bca;
  text-decoration: none;
}
#course a:hover,
#course a:focus{
  text-decoration: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

//#course .item
//{
//  //background-color:pink;
//  position:relative;
//  border: 3px solid;
//}
//
//#course .item:hover{
//
//  position:relative;
//  border: 3px solid;
//  border-color:#ccc;
//  cursor:pointer;
//}
//
//#course .item-info div{
//  border: 1px solid;
//  border-color:#ccc;
//  height:100%;
//}
//#course .item-info div p{
//  color:#0099FF;
//  font-size:16px;
//}
//
//#course .item img
//{
//  display:block;
//  box-shadow: 0 0 1px 1px #fff;
//}
//
//#course .item>.course-caption
//{
//  position:absolute;
//  right:0;
//  bottom:0;
//  left:0;
//  text-align:center;
//  background-color:rgba(255,255,255,0.7);
//}
