extends layout
append head
  title 托管&bull;幼接小
append style
  mixin stylesheet('./css/afterclass.css')
block afterclass-bar
  li.active: a(href='#') 托管&bull;幼接小
append page
  .col-md-9.col-md-offset-1#afterclass
    .col-md-12.col-xs-12
      .row
        a(href="./img/afterclass/ac-01.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-01.jpg")
        .col-md-1.col-xs-1
        a(href="./img/afterclass/ac-02.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-02.jpg")
        .col-md-1.col-xs-1
        a(href="./img/afterclass/ac-03.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-03.jpg")
      br
      .row
        a(href="./img/afterclass/ac-04.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-04.jpg")
        .col-md-1.col-xs-1
        a(href="./img/afterclass/ac-05.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-05.jpg")
        .col-md-1.col-xs-1
        a(href="./img/afterclass/ac-06.jpg")
          img.img-circle.col-md-3.col-xs-3(src="./img/afterclass/ac-06.jpg")

    .col-md-12.col-xs-12
      .space-12
      p
        span.label.label-xlg.label-success.arrowed-right 艺术特色
        |&nbsp;&nbsp;舞蹈/声乐/器乐/绘画/书法/幼小衔接
      p
        span.label.label-xlg.label-warning.arrowed-right 托管对象
        |&nbsp;&nbsp;幼儿园中、大班儿童、小学1～6年级小学生
      p
        span.label.label-xlg.label-purple.arrowed-right 托管方式
        |&nbsp;&nbsp;放学后托管、周末托管、寒暑假托管、临时托管寄存服务
    .col-md-12.col-xs-12
      .space  
      .row
        img.col-md-1.col-xs-2.img-circle(src='./img/logo/logo-01.png')
        h3 艺术托管班
      hr
      h4(style="margin-left:20px") 时间安排
      ul
        li
          span.badge 13:00-14:30
          |&nbsp;&nbsp;&nbsp;作业
        li 
          span.badge 14:45-16:00 
          |&nbsp;&nbsp;&nbsp;基础乐理讲座
        li 
          span.badge 16:15-17:20
          |&nbsp;&nbsp;&nbsp;艺术类课程（电子琴 钢琴）

      table.table.col-md-12.col-xs-12(style="text-align:center")
        thead
          tr
            th
            th 周一
            th 周三
            th 周四
            th 周五
        tbody
          tr
            td(rowspan="2") 16:00-18:00
            td 作业
            td 作业
            td 作业
            td 作业
          tr
            td 创意DIY/美术
            td 快乐阅读
            td 电子琴、钢琴
            td 乐感训练班

      .row
        //button.btn.btn-primary 艺术托管班：700元/月
        //button.btn.btn-primary.btn-lg 普通托管班：400元/月
        .col-md-2.col-xs-1
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 艺术托管班：700元/月
        .col-md-2.col-xs-1
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 普通托管班：400元/月

    .col-md-12.col-xs-12
      .row
        img.col-md-1.col-xs-2.img-circle(src='./img/logo/logo-02.png')
        h3 全日制托管班
      hr
      h4(style="margin-left:20px") 时间安排
      ul
        li
          span.badge 07:30-08:00 
          |&nbsp;&nbsp;&nbsp;到校
        li 
          span.badge 08:00-08:30
          |&nbsp;&nbsp;&nbsp;早餐
        li 
          span.badge 11:30-12:15
          |&nbsp;&nbsp;&nbsp;午餐
        li 
          span.badge 12:45-14:40
          |&nbsp;&nbsp;&nbsp;午休
        li 
          span.badge 16:00-16:30
          |&nbsp;&nbsp;&nbsp;晚餐
        li 
          span.badge 17:00-17:30
          |&nbsp;&nbsp;&nbsp;接送
          
      h4(style="margin-left:20px") 备注
      ul
        li 学校会统一安排每日画画、阅读、唱歌、跳操、吃水果、玩具、动画片等活动
        li 学校会安排专职后勤人员保障儿童食品、卫生、安全、喂药、检查等工作
        li 学校提供统一教材的购买、保险，费用自理
        li 定期安排家长会和公开课

      .row
        .col-md-2.col-xs-1
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 标准：1000元/月
        .col-md-2.col-xs-1
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center")
          strong 艺术特长班：1500元/月
          p 按学期收费
          p 电子琴、打击乐、古筝三选一

    .col-md-12.col-xs-12
      .row
        img.col-md-1.col-xs-2.img-circle(src='./img/logo/logo-03.png')
        h3 全日制艺术综合训练班(幼接小过渡班)
      hr

      table.table.col-xs-12(style="text-align:center")
        thead
          tr
            th
            th 周一
            th 周二
            th 周三
            th 周四
            th 周五
            th 备注
        tbody
          tr
            td 08:30-09:15
            td 语文
            td 数学
            td 英语
            td 语文（复习测验）
            td 英语（复习测验）
            td.col-md-3.col-xs-3(rowspan="6") 主课学习需家长周末时间利用半小时时间对孩子进行辅导复习，以免忘记学习内容
          tr
            td 09:30-10:15
            td 语文
            td 数学
            td 英语
            td 数学（复习测验）
            td 综合复习讲解
          tr
            td 10:45-11:30
            td 快乐阅读
            td 手工制作
            td 幼儿绘画
            td 动画语文/动画数学
            td 动画英语
          tr
            td 11:30-12:30
            td(colspan="5") 午餐
          tr
            td 12:35-14:30
            td(colspan="5") 午睡
          tr 
            td 14:45-15:30
            td 艺术特长课
            td 艺术练习课
            td 艺术练习课
            td 艺术特长课
            td 艺术练习课
          tr
            td 15:45-16:30
            td(colspan="5") 乐感训练课
            td 包括节奏训练、音乐兴趣培养、艺术鉴赏、乐理知识

      ul.col-xs-12
        li 每日安排：体操、吃水果、作业
        li 每学期安排期中、期末考试
        li 定期安排家长会
        li 定期安排艺术类汇报演出。
        li 学校会安排专职后勤人员保障儿童食品、卫生、安全、喂药、检查等工。
        li 学校提供统一教材的购买、保险，费用自理。
          
      .row
        .col-md-1.col-xs-0
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 2000元/月，按学期收费
        .col-md-1.col-xs-0
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 古筝、钢琴、打击乐三选一
        .col-md-1.col-xs-0
        .alert.alert-info.col-md-3.col-xs-4(style="text-align:center"): strong 授课对象：5岁以上儿童

