extends layout
append head
  title 德艺美
append logo-bg
  .logo-bg.text-center.animated.fadeInDown
    img.center.img(src='./img/home/home-bg-red.jpg')
block home-bar
  li.active: a(href='/home') 走进德艺美
append page
  .col-md-9.col-md-offset-1#home

   br
   #home-info
     .col-md-12.animated.bounceInLeft
       .row
         img.col-md-1.img-circle(src="./img/logo/04.png")
         h3 走进德艺美
       p &nbsp;&nbsp;&nbsp;&nbsp;学校现由11个院系组成，2个师范专修学院．学校设有本科，硕士，博士学位。学校教学设备完善、设施齐全，拥有自己的大型图书馆及电脑俱乐部、健身房、游泳馆、体育馆等。
     .col-md-12.animated.bounceInRight
       .row
         img.col-md-1.img-circle(src="./img/logo/01.png")
         h3 德艺课堂
       p &nbsp;&nbsp;&nbsp;&nbsp;德意美艺术教育培训中心是天津市最大的培训中心之一，教学场地2000多平米，教室宽敞、明亮、舒适，每间教师都有独立空调设施，师资力量雄厚。
       p &nbsp;&nbsp;&nbsp;&nbsp;每位教师都来自音乐学院专业团体，有多年的教学经验，我校还会定期聘请来自北京及全国各地的名人、明显舞蹈家、演奏家和教授莅临我校指导，使学员们一睹明星风采。最主要的是得到最专业的学习培训，不走弯路。
       p &nbsp;&nbsp;&nbsp;&nbsp;我校和中央电视台、北京电视台及各大卫视挂钩，我校会推荐优秀的学员参加名牌栏目的节目录制、演出、比赛、考级及出国交流等。我校还注重学生的道德教育，在学习艺术期间还会让学生学习国学如家文化，使学生德才兼备，真正做到“德 艺 美”
     .col-md-12.animated.bounceInLeft
       .row
         img.col-md-1.img-circle(src="./img/logo/02.png")
         h3 招生信息
       p &nbsp;&nbsp;&nbsp;&nbsp;我们真诚欢迎热爱表演艺术的朋友们来到群星，因为这里是群星闪烁的星空，这里是你施展才华的舞台，这里是你通往艺术殿堂的桥梁和纽带，在这里，你将成为星空中最为闪烁的一颗！
     .col-md-12.animated.bounceInRight
       .row
         img.col-md-1.img-circle(src="./img/logo/03.png")
         h3 院校合作
       p &nbsp;&nbsp;&nbsp;&nbsp;学校积极开展各类合作办学活动，为学生将来的发展提供更大的拓展空间。1999年与国家级重点职业高中北京黄庄职业高中联合创办了国有民办的艺术类职高专业，为学生将来通往高等艺术教育开辟了一条新的路子；2002年，北京群星表演艺术学校与中国传媒大学携手联办“大学影视表演艺术专业”；2003年与首都师范大学联合举办了影视剧大专班；2005年与山东荷泽学院进行合作，创办本科、续本、大专、中专等不同层次影视剧表演、播音与主持人等专业。形成了北京群星表演艺术学校多层次、多方位，从高中、大学到成人教育的一体化办学格局，为学生的升学和进一步深造奠定了良好的基础。


