extends layout
append head
  title 德艺美
//append logo-bg
block home-bar
  li.active: a(href='/home') 走进德艺美
append page
  .col-md-9.col-md-offset-1#home

   br
   #home-info
     .col-md-12.animated.bounceInLeft
       .row
         img.col-md-1.img-circle(src="./img/logo/logo-01.png")
         h3 走进德艺美
       p &nbsp;&nbsp;&nbsp;&nbsp;
     .col-md-12.animated.bounceInRight
       .row
         img.col-md-1.img-circle(src="./img/logo/logo-02.png")
         h3 德艺课堂
       p &nbsp;&nbsp;&nbsp;&nbsp;德意美艺术教育培训中心是天津市最大的培训中心之一，教学场地2000多平米，教室宽敞、明亮、舒适，每间教师都有独立空调设施，师资力量雄厚。
     .col-md-12.animated.bounceInLeft
       .row
         img.col-md-1.img-circle(src="./img/logo/logo-03.png")
         h3 师资风采
       p &nbsp;&nbsp;&nbsp;&nbsp;每位教师都来自音乐学院专业团体，有多年的教学经验，我校还会定期聘请来自北京及全国各地的名人、明显舞蹈家、演奏家和教授莅临我校指导，使学员们一睹明星风采。最主要的是得到最专业的学习培训，不走弯路。
     .col-md-12.animated.bounceInRight
       .row
         img.col-md-1.img-circle(src="./img/logo/logo-04.png")
         h3 院校合作
       p &nbsp;&nbsp;&nbsp;&nbsp;我校和中央电视台、北京电视台及各大卫视挂钩，我校会推荐优秀的学员参加名牌栏目的节目录制、演出、比赛、考级及出国交流等。我校还注重学生的道德教育，在学习艺术期间还会让学生学习国学如家文化，使学生德才兼备，真正做到<strong> 德 艺 美</strong>。


