extends bootstrap
append head
append style
  mixin stylesheet('./css/animate.min.css')
  mixin stylesheet('./css/index.css')
append script
  mixin javascript('js/runtime.min.js')
  mixin javascript('js/app.js')
  mixin javascript('./js/jquery.grumble.min.js')
block content
  .container-fluid.container-background
    block logo-bg
      .logo-bg.text-center.animated.fadeInDown
        img.center.img(src='./img/home/home-bg-red.jpg')
    .navbar.navbar-inverse.narbar-fixed-top
      .container
        .navbar-header
          //a.brand(href='/home') 德艺美
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.divider-vertical
            block home-bar
              li: a(href='/home') 走进德艺美
            li.divider-vertical
            block member-bar
              li: a(href='/member') 专业师资
            li.divider-vertical
            block course-bar
              li: a(href='/course') 课程设置
            li.divider-vertical
            block video-bar
              li: a(href='/video') 影像图片
            li.divider-vertical
            block matter-bar
              li: a(href='/matter') 学校动态
            li.divider-vertical

    section
        block page
        .col-md-offset-10
          .pin-wrapper
            .pinned.note-container
              .note#note
                .row
                  img(src="./img/logo/04.png")
                  .col-xs-7(style="margin-left:20px")
                    h4.text-success 报名啦！！
                #contact
                  ul
                    li 咨询电话
                      p 24975168&nbsp;&nbsp;24968951
                    li Q Q
                      p 3126303548
                    li E-Mail
                      p 3126303548@qq.com
                    li 地址
                      p 天津市东丽区跃进北路华亭里1号

    block footer
      footer.text-center
        hr.featurette-divider
        .col-xs-8(style="margin-top:30px")
          p.pull-right
            a(href="#") 返回顶部
          h4
            p.text-danger Copyright&nbsp;©2014&nbsp;&nbsp;华艺仁琦文化传媒有限公司  
