
extends layout
append head
  title 影像图片
append style
  mixin stylesheet('./css/video2.css')
  mixin stylesheet('./css/video.css')
  mixin stylesheet('./css/bootstrap2.min.css')
  mixin stylesheet('./css/video-default.css')
append script
  mixin javascript('html5gallery/html5gallery.js')
block video-bar
  li.active: a(href='#') 影像图片
block page
  .col-md-9.col-md-offset-1#video
    #wall.col-md-offset-1
      .html5gallery(data-skin="gallery" data-width="800" data-height="600" style="display:none;")
        a(href='http://deyimei-art.qiniudn.com/video/天津德艺美总校开学演出-small.mp4')
          img(src="./img/news/open-video.jpg" alt="天津德艺美总校开学演出")
        a(href='../img/news/picture-wall.jpg')
          img(src='../img/news/picture-wall-small.png' alt="德艺美校长与众明星合影")
